/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* LAYOUT */

/* Header set */

header {
    width: 100%;
    height: 70px;
    background-color: white;
    float: left;
}

header > nav > div {
    display: inline-block;
}
.col-1-h {
    width: 10%;
    height: 50px;
    padding-bottom: 10px;
}

.a-links {
    width: 39.5%;
    height: 50px;
}

/* /Header set */

/* banner set */

section.banner {
    height: 700px;
}

.banner.text{
    width: 35%;
}

.banner.img {
    width: 65%;
    float: right;
}

.banner.text,
.banner.img {
    height: 400px;
    display: inline-block;
}

/* /banner set */

/* list product set */

.list-product {
    height: 1300px;
}

.title-product {
    width: 100%;
    height: 350px;
}

.product-column {
    width: 33%;
    height: 620px;
    float: left;
    background-color: blueviolet;
}

.product-column.center {
    background-color: steelblue;
}

.sect-contact-us {
    width: 100%;
    height: 300px;
    background-color: blue;
    overflow: hidden;
}

/* /list product set */

/* find partner set */

.sect-find-partner {
    width: 100%;
    height: 600px;
    background-color: slateblue;
}

.partner {
    float: left;
}

.partner.img {
    width: 55%;
    height: 600px;
    background-color: salmon;
}

.partner.text {
    width: 45%;
    height: 600px;
    background-color: burlywood;
}

/* /find partner set */

/* pro list set */

.sect-pro-list {
    width: 100%;
    height: 1250px;
    background-color: lightseagreen;
}

.box-title-list {
    width: 100%;
    height: 200px;
    background-color: firebrick;
}

.col.up{
    background-color: skyblue;
    float: left;
}

.col.down{
    background-color: goldenrod;
    float: left;
}

.col {
    width: 33%;
    height: 400px;
}

.box-db-business {
    width: 100%;
    height: 240px;
    background-color: aqua;
    overflow: hidden;
}

/* /pro list set */

/* sect university set */

.sect-university {
    width: 100%;
    height: 400px;
    background-color: khaki;
}

div.box.uni{
    width: 30%;
    height: 100%;
    background-color: darkgoldenrod;
    float: left;
}

div.box.uni.design {
    width: 40%;
    height: 100%;
    background-color: aqua;
}

.micro-box{
    width: 50%;
    height: 50%;
    background-color: blue;
    border: 1px solid red;
}

.micro-box.up,
.micro-box.down{
    float: left;
}

/* /sect university set */

/* free trial set */

.sect-free-trial {
    width: 100%;
    height: 320px;
    background-color: red;
}

.free-trial{
    height: 320px;
    float: left;
}

.free-trial.text{
    width: 40%;
    background-color: darkkhaki;
}

.free-trial.btn {
    width: 60%;
    background-color: mediumpurple;
}

/* /free trial set */

/* help question set */

.sect-help-question {
    width: 100%;
    height: 800px;
    background-color: mediumspringgreen;
}

.help.title {
    width: 100%;
    height: 250px;
    background-color: rebeccapurple;
}

.help.text {
    width: 100%;
    height: 550px;
    background-color: darkorange;
}

/* /help question set */

/* sect info set */

.sect-info {
    width: 100%;
    height: 500px;
    background-color: black;
}

.col-end {
    border: 1px solid red;
    float: left;
}

.col-end.n1,
.col-end.n6 {
    width: 20%;
    height: 500px;
    border: 1px solid red;
}

.col-end.n2,
.col-end.n3,
.col-end.n4,
.col-end.n5 {
    width: 15%;
    height: 500px;
}
/* /sect info set */

/* LAYOUT */

/* header and nav */

#logo-header-img {
    vertical-align: middle;
}

.link-header {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2em;
}

.link-header > a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

.link-header.right {
    float: right;
    vertical-align: middle;
    padding-top: 2.3em;
}

.box-btn.login {
    margin-left: 3em;
}

.box-btn {
    border: none;
    padding:  7px 12px;
    background-color: #0160fe;
    color: white;
}

/* Main > banner */

.banner {
    background-color: #b4d0e6;
}

h1.bn-title-h1 {
    font-size: 4em;
    padding-top: 2.4em;
}

.box-btn.free-trial-btn {
    margin: 1em 0 .5em;
}

.text-banner {
    margin: 4em 0 1em;
}

.banner-entity-down {
    position: relative;
    bottom: -2em;
}

.text-banner-adv {
    font-size: .7em;
}

.banner-entity-down > a {
    font-size: 2em;
    text-decoration: none;
    color: black;
}

#jumbo-img {
    height: 100%;
    position: relative;
    bottom: -4em;
}

/* List product */

.h1-product-list {
    padding-top: 5em;
    font-size: 2em;
    text-align: center;
}

#radio-billing {
    margin: 3em 13.8em;
}

#billing-year {
    margin-left: 1.5em;
}

/* /List product */
