/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* LAYOUT */

/* Header set */

header {
    width: 100%;
    height: 70px;
    background-color: white;
    float: left;
    position:fixed;
    z-index: 100;
}

header > nav > div {
    display: inline-block;
}
.col-1-h {
    width: 10%;
    height: 50px;
    padding-bottom: 10px;
}

.a-links {
    width: 39.5%;
    height: 50px;
}

/* /Header set */

/* banner set */

section.banner {
    height: 700px;
    background-color: #b4d0e6;
}

.banner.text{
    width: 35%;
}

.banner.img {
    width: 65%;
    float: right;
}

.banner.text,
.banner.img {
    height: 400px;
    display: inline-block;
}

/* /banner set */

/* list product set */

.list-product {
    height: 1400px;
}

.title-product {
    width: 100%;
    height: 350px;
}

.product-column {
    width: 30%;
    height: 800px;
    float: left;
    margin: 1.1em ;
    border: 1px solid grey;
}

.sect-contact-us {
    margin: 0 auto;
    width: 95%;
    height: 200px;
    overflow: hidden;
    border: 1px solid grey;
}

.contact-center {
    width: 70%;
    height: 500px;
}

/* /list product set */

/* find partner set */

.sect-find-partner {
    width: 100%;
    height: 600px;
}

.partner {
    float: left;
}

.partner.img {
    width: 55%;
    height: 600px;
}

.partner.text {
    width: 45%;
}

/* /find partner set */

/* pro list set */

.sect-pro-list {
    width: 100%;
    height: 1600px;
}

.box-title-list {
    height: 200px;
}

.col.up{
    float: left;
}

.col.down{
    float: left;
}

.col {
    width: 33%;
    height: 600px;
}

.box-db-business {
    width: 39%;
    height: 240px;
    overflow: hidden;
}

/* /pro list set */

/* sect university set */

.sect-university {
    width: 100%;
    height: 400px;
}

div.box.uni{
    width: 30%;
    height: 100%;
    float: left;
}

div.box.uni.design {
    width: 40%;
    height: 100%;
    padding: 2em;
}

.micro-box{
    width: 50%;
    height: 50%;
    text-align: center;
}

.micro-box.up,
.micro-box.down{
    float: left;
}

/* /sect university set */

/* free trial set */

.sect-free-trial {
    width: 100%;
    height: 320px;
    background-color: #b4d0e6;
}

.free-trial{
    height: 320px;
    float: left;
}

.free-trial.text{
    width: 60%;
}

.free-trial.btn {
    width: 40%;
}

/* /free trial set */

/* help question set */

.sect-help-question {
    width: 100%;
    height: 800px;
}

.help.title {
    width: 100%;
    height: 250px;
}

.help.text {
    width: 100%;
    height: 550px;
}

/* /help question set */

/* sect info set */

.sect-info {
    width: 100%;
    height: 500px;
    background-color: black;
}

.col-end {
    float: left;
}

.col-end.n1,
.col-end.n5 {
    width: 22%;
}

.col-end.n2,
.col-end.n3,
.col-end.n4 {
    width: 18.6%;
}
/* /sect info set */

/* LAYOUT */

/* header and nav */

#logo-header-img {
    vertical-align: middle;
}

.link-header {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2em;
}

.link-header > a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

.link-header.right {
    float: right;
    vertical-align: middle;
    padding-top: 2.3em;
}

.box-btn.login {
    margin-left: 3em;
}

.box-btn {
    border: none;
    padding:  7px 12px;
    background-color: #0160fe;
    color: white;
}

.box-btn:hover

/* Main > banner */

.banner {
    background-color: #b4d0e6;
}

h1.bn-title-h1 {
    font-size: 4em;
    padding-top: 2.4em;
}

.box-btn.free-trial-btn {
    margin: 1em 0 .5em;
}

.text-banner {
    margin: 4em 0 1em;
}

.banner-entity-down {
    position: relative;
    bottom: -2em;
}

.text-banner-adv {
    font-size: .7em;
}

.banner-entity-down > a {
    font-size: 2em;
    text-decoration: none;
    color: black;
}

#jumbo-img {
    height: 100%;
    position: relative;
    bottom: -4em;
}

/* List product */

.h1-product-list {
    padding-top: 5em;
    font-size: 2em;
    text-align: center;
}

#radio-billing {
    margin: 3em 13.8em;
}

#billing-year {
    margin-left: 1.5em;
}

.user-icon {
    padding: 2% 40%;
    border: 1px solid grey;
    position: relative;
    bottom: 8px;
}

/* /List product */

span.pro-product-icon > span > i {
 line-height: 30px;
}
    

.product-h3-title{
    padding: 1em 0;
}

.product-h4-title{
    padding: .5em 0;
}

.far.fa-user {
    margin-top: 1em;
}

.far.fa-building {
    margin-top: 1em;
    margin-right: .9em;
}

.box-btn.product-btn {
    margin-top: 2em;
}

.buy-now-box {
    position: relative;
    top: 1.5em;
}

#hr-column-product {
    margin-top: 2em;
    margin-right: 18em;
    padding: .5px;
    color: gray;
}

h4.subtitle-column-product {
    margin-top: 4em;
}

.central-text-product {
    margin-top: 1.5em;
    list-style: none;
    font-size: .9em;
}

.central-text-product > i {
    color: #0a68ff;
}

.cntrl-no-dec {
    text-decoration: none;
}

.set-all-text {
    margin-left: 2em;
}

.buy-now-clr {
    text-decoration: none;
    color: #3882ff;
}

.user-icon-w {
    padding: 1% 50%;
    border: 1px solid grey;
    position: relative;
    bottom: 10px;
}

.text-contact-center {
    font-size: .9em;
}

.contact-center {
    line-height: 2em;
    padding: 3em 1.5em;
    float: left;
}

.contact-box {
    float: left;
}

div.contact-box > button.box-btn{
    margin: 3.5em 0 0;
    padding: .6em 3.5em;
}

/* sect partner */

#img-partner {
    height: 70%;
    vertical-align: middle;
    margin: 4em 6em;
}

.box-btn-white {
    padding: .5em 2em;
    background-color: white;
}

.all-text-partner{
    margin: 6em 3em 0;
}

.all-text-partner > h2{
    margin-bottom: 1em;
}

.all-text-partner > p{
    margin-bottom: 1em;
}

/* section pro list */

.box-title-list > h1{
    font-size: 2em;
    text-align: center;
    padding-top: 2em;
}

.micro-png-sect {
    height: 35%;
}

.col-title-bn{
    margin: 1em 0;
}

.col-text-box-bn{
    margin-right: 5em;
}

.col-text-box-bn > p{
    line-height: 1.5em;
}

.box-db-business > h1{
    font-size: 2em;
    margin-bottom: 1.5em;
}

.box-db-business span a{
    color: #3882ff;
}

/* section university */

.image-university{
    width: 75%;
    height: 75%;
    margin-top: 1em;
    filter: invert(1);
}

.image-university-h{
    width: 50%;
    height: 10%;
    margin-top: 5em;
    filter: invert(1);
}

.micro-box.up.left{
    background-color: #a1d49b;
}

.micro-box.up.right{
    background-color: #61082b;
}

.micro-box.down.left{
    background-color: #0593ce;
}

.micro-box.down.right{
    background-color: #FF1E14;
}

.micro-box.up.left-2{
    background-color: #d5011f;
}

.micro-box.up.right-2{
    background-color: #b4d0e6;
}

.micro-box.down.left-2{
    background-color: #0d2581;
}

.micro-box.down.right-2{
    background-color: #ffd92e;
}

.image-university-design{
    height: 10%;
}

#hr-box-uni {
    margin: 2em 0;
    margin-right: 32em;
}

.text-mg-2{
    margin-bottom: 2em;
}

/* section free trial */

.free-trial-h1{
    font-size: 2.5em;
    color: #61072a;
    padding: 2.5em;
}

.box-btn-white-trial{
    border: none;
    background-color: white;
    padding: .5em 3em;
    margin: 8em 8em;
}

/* Section help question */

.title-h1-help{
    font-size: 1.8em;
    padding: 6em 3.5em;
}

.answer-help {
    display: none;
  }
 
.question-help:hover + .answer-help {
    display: block;
    color: gray;
    width: 100%;
    line-height: 2em;
    margin-top: 1em;
  }

#hr-help{
    margin: 2em 0 2em;
  }

.fas.fa-angle-down{
    float: right;
  }

section.sect-info > div{
    color: white;
}

.col-end > ul > li > a{
    text-decoration: none;
    color: white;
}

.col-end > h3{
    text-align: left;
    margin: 4em 3em 1.5em;
}

.col-end > ul > li{
    text-align: left;
    font-size: .8em;
}

.col-end > ul{
    list-style: none;
}

.col-end.n1 > ul > li{
    margin-top: 1em;
    margin-left: 8.7em;
}

.col-end.n1 > h3{
    margin: 4em 6em 1.5em;
}

.col-end > ul > li{
    margin-top: 1em;
    margin-left: 4.5em;
}

#hr-footer{
    margin-top: 5em;
    margin-left: 7em;
    margin-right: 5em;
}

.language-box span{
    font-size: .7em;
    color: gray;
}

.language-box i{
    color: gray;
}

.language-box{
    margin-left: 7em;
    margin-top: 7em;
}

  