/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
}

/* Header */

header {
    background-color: blue;
    position: fixed;
    height: 70px;
}

header > div {
    display: inline-block;
}
.col-1-h {
    background-color: aqua;
    width: 10em;
    height: 50px;
}

.a-links {
    background-color: blueviolet;
    width: 34.5em;
    height: 50px;
}

/* /Header */

main{
    background-color: burlywood;
    height: 20em;
}

